stages:
  - lint
  - unit_test
  - opa_test
  - iac_scan
  - plan
  - evidence

variables:
  TF_ROOT: "platform/iac"
  PY_ROOT: "platform/devsecops/python"
  OPA_POLICIES: "platform/governance/policies_as_code/opa"
  CHECKOV_OUTPUT: "artifacts/checkov.json"
  OPA_OUTPUT: "artifacts/opa.json"
  PYTEST_OUTPUT: "artifacts/pytest.xml"
  PLAN_JSON: "artifacts/tfplan.json"

default:
  image: alpine:3.20
  before_script:
    - apk add --no-cache bash curl jq python3 py3-pip unzip

lint:python:
  stage: lint
  image: python:3.11-alpine
  script:
    - cd $PY_ROOT
    - pip install -r requirements-dev.txt
    - python -m compileall .
  artifacts:
    when: always
    paths: [artifacts/]

unit_test:python:
  stage: unit_test
  image: python:3.11-alpine
  script:
    - cd $PY_ROOT
    - pip install -r requirements-dev.txt
    - pytest -q --junitxml=../../$PYTEST_OUTPUT
  artifacts:
    when: always
    paths: [artifacts/]

opa_test:
  stage: opa_test
  image: openpolicyagent/opa:1.10.1
  script:
    - opa test $OPA_POLICIES -v | tee $OPA_OUTPUT
  artifacts:
    when: always
    paths: [artifacts/]

iac_scan:checkov:
  stage: iac_scan
  image: bridgecrew/checkov:latest
  script:
    - checkov -d $TF_ROOT -o json > $CHECKOV_OUTPUT
    - jq '.summary' $CHECKOV_OUTPUT
  artifacts:
    when: always
    paths: [artifacts/]

plan:terraform:
  stage: plan
  image: hashicorp/terraform:1.9
  script:
    - cd $TF_ROOT
    - terraform init
    - terraform validate
    - terraform plan -out=tfplan
    - terraform show -json tfplan > ../../$PLAN_JSON
  artifacts:
    when: always
    paths: [artifacts/]

# Policy gate: OPA evaluates terraform plan JSON
policy_gate:
  stage: plan
  image: openpolicyagent/conftest:v0.57.0
  script:
    - conftest test $PLAN_JSON -p $OPA_POLICIES/terraform --output json | tee artifacts/conftest.json
  dependencies:
    - plan:terraform
  artifacts:
    when: always
    paths: [artifacts/]

evidence_bundle:
  stage: evidence
  image: python:3.11-alpine
  script:
    - pip install pyyaml
    - python platform/devsecops/scripts/generate_evidence_report.py
  dependencies:
    - unit_test:python
    - opa_test
    - iac_scan:checkov
    - plan:terraform
    - policy_gate
  artifacts:
    when: always
    paths: [evidence/]
