include:
  - local: "platform/devsecops/gitlab/base-ci.yml"

stages:
  - build
  - validate
  - test
  - security
  - policy-check
  - deploy
  - evidence

build_lambda_packages:
  extends: .build_lambda_template
  only: [main, master, develop, merge_requests]

validate_terraform:
  extends: .validate_tf_template
  only: [main, master, develop, merge_requests]

test_python:
  extends: .test_python_template
  only: [main, master, develop, merge_requests]

security_scan:
  stage: security
  image: Python 3.13.5
  script:
    - echo "security_scan placeholder"
  allow_failure: true
  only: [main, master, develop, merge_requests]


policy_check:
  extends: .policy_check_template
  only: [main, master, develop, merge_requests]

deploy:
  extends: .deploy_tf_template
  only: [main, master]

generate_evidence:
  extends: .evidence_template
  only: [main, master]
